<a href="https://colab.research.google.com/github/Josecp03/Google-Colab/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios Titanic

## Ejercicio 1
Generar un DataFrame con los datos del fichero.

In [ ]:
import pandas as pd

In [ ]:
# Cargar los datos del archivo CSV en un DataFrame
df = pd.read_csv('/content/sample_data/titanic.csv')

# Mostrar las primeras filas del DataFrame para verificar la carga
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Ejercicio 2
Mostrar por pantalla las dimensiones del DataFrame, el número de datos que
contiene, los nombres de sus columnas y filas, los tipos de datos de las
columnas, las 10 primeras filas y las 10 últimas filas.

In [ ]:
# Mostrar las dimensiones del DataFrame (número de filas y columnas)
print("Dimensiones del DataFrame:", df.shape)

Dimensiones del DataFrame: (891, 12)

In [ ]:
# Mostrar el número total de datos en el DataFrame
print("Número total de datos:", df.size)

Número total de datos: 10692

In [ ]:
# Mostrar los nombres de las columnas
print("Nombres de las columnas:", df.columns)

Nombres de las columnas: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# Mostrar los nombres de las filas (índice)
print("Nombres de las filas:", df.index)

Nombres de las filas: RangeIndex(start=0, stop=891, step=1)

In [ ]:
# Mostrar los tipos de datos de cada columna
print("Tipos de datos de las columnas:\n", df.dtypes)

Tipos de datos de las columnas:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
# Mostrar las 10 primeras filas del DataFrame
print("Las 10 primeras filas del DataFrame:")
df.head(10)

Las 10 primeras filas del DataFrame:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
# Mostrar las 10 últimas filas del DataFrame
print("Las 10 últimas filas del DataFrame:")
df.tail(10)

Las 10 últimas filas del DataFrame:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Ejercicio 3
Mostrar por pantalla los datos del pasajero con identificador 148.

In [ ]:
passenger_148 = df[df['PassengerId'] == 148]
passenger_148

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.375,NaN,S

## Ejercicio 4
Mostrar por pantalla las filas pares del DataFrame.

In [ ]:
even_rows = df.iloc[::2]
even_rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Ejercicio 5
Mostrar por pantalla los nombres de las personas que iban en primera clase
ordenadas alfabéticamente.

In [ ]:
# Filtrar el DataFrame para obtener solo los pasajeros de primera clase
first_class_passengers = df[df['Pclass'] == 1]

# Seleccionar la columna 'Name' y ordenarla alfabéticamente
names_first_class_sorted = first_class_passengers['Name'].sort_values()

# Mostrar los nombres
print("Nombres de los pasajeros en primera clase (ordenados alfabéticamente):")
names_first_class_sorted

Nombres de los pasajeros en primera clase (ordenados alfabéticamente):

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

## Ejercicio 6
Eliminar del DataFrame los pasajeros con edad desconocida.

In [ ]:
# Eliminar las filas donde la columna 'Age' tiene valores nulos (NaN)
df_cleaned = df.dropna(subset=['Age'])

# Mostrar las primeras filas del nuevo DataFrame para verificar la eliminación
print("DataFrame después de eliminar pasajeros con edad desconocida:")
df_cleaned.head()

DataFrame después de eliminar pasajeros con edad desconocida:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Ejercicio 7
Comprobar si existen filas repetidas

In [ ]:
num_duplicate_rows = df.duplicated().sum()
print(f"Número de filas repetidas en el DataFrame: {num_duplicate_rows}")

Número de filas repetidas en el DataFrame: 0

## Ejercicio 8
Imprime los pasajeros que viajan solos

In [ ]:
# Filtrar pasajeros que viajan solos (SibSp == 0 y Parch == 0)
solo_travelers = df[(df['SibSp'] == 0) & (df['Parch'] == 0)]

# Imprimir los pasajeros que viajan solos
print("Pasajeros que viajan solos:")
solo_travelers

Pasajeros que viajan solos:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Ejercicio 9
Mostrar por pantalla el número de personas que sobrevivieron.

In [ ]:
# Filtrar el DataFrame para obtener solo los pasajeros que sobrevivieron
survived_passengers = df[df['Survived'] == 1]

# Contar el número de pasajeros que sobrevivieron
num_survived = len(survived_passengers)

# Mostrar el resultado
print(f"Número de personas que sobrevivieron: {num_survived}")

Número de personas que sobrevivieron: 342

## Ejercicio 10
Mostrar por pantalla el número de personas que no sobrevivieron.

In [ ]:
# Filtrar el DataFrame para obtener solo los pasajeros que no sobrevivieron
not_survived_passengers = df[df['Survived'] == 0]

# Contar el número de pasajeros que no sobrevivieron
num_not_survived = len(not_survived_passengers)

# Mostrar el resultado
print(f"Número de personas que no sobrevivieron: {num_not_survived}")

Número de personas que no sobrevivieron: 549

## Ejercicio 11
Mostrar por pantalla el porcentaje de personas que sobrevivieron.

In [42]:
# Calcular el porcentaje de personas que sobrevivieron
total_passengers = len(df)
percentage_survived = (num_survived / total_passengers) * 100

# Mostrar el resultado
print(f"Porcentaje de personas que sobrevivieron: {percentage_survived:.2f}%")

Porcentaje de personas que sobrevivieron: 38.38%

## Ejercicio 12
Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

In [48]:
# Filtrar el DataFrame para obtener solo mujeres
women_df = df[df['Sex'] == 'female']

# Agrupar por clase y calcular la edad media de las mujeres en cada clase
average_age_women_by_class = women_df.groupby('Pclass')['Age'].mean()

# Mostrar el resultado
print("Edad media de las mujeres por clase:")
print(average_age_women_by_class)

Edad media de las mujeres por clase:
Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

## Ejercicio 13
Añadir una nueva columna booleana para ver si el pasajero era menor de
edad o no.

In [45]:
# Añadir una nueva columna booleana 'IsMinor'
df['IsMinor'] = df['Age'] < 18

# Mostrar las primeras filas del DataFrame con la nueva columna
print("DataFrame con la nueva columna 'IsMinor':")
df.head()

DataFrame con la nueva columna 'IsMinor':

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsMinor
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False

## Ejercicio 14
Borrar la columna y volver a crearla, pero esta vez que sea con valores Si o
No

In [55]:
# Eliminar la columna 'IsMinor' si ya existe
if 'IsMinor' in df.columns:
    df = df.drop('IsMinor', axis=1)

# Crear la nueva columna 'IsMinor' con valores 'Si' o 'No'
df['IsMinor'] = df['Age'].apply(lambda x: 'Si' if x < 18 else 'No')

# Mostrar las primeras filas del DataFrame con la nueva columna
print("DataFrame con la nueva columna 'IsMinor' con valores 'Si' o 'No':")
df

DataFrame con la nueva columna 'IsMinor' con valores 'Si' o 'No':

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsMinor
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,No
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,No
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,No
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,No
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,No
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,No
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,No
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,No
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,No

## Ejercicio 15
Mostrar por pantalla el porcentaje de menores de edad que sobrevivieron en
cada clase. En primer lugar, hay que hacerlo sin bucle y luego con un bucle
for.

### Método sin bucle

In [59]:
# Filtrar para obtener solo menores y agrupar por clase y supervivencia
minors_survived_by_class = df[df['IsMinor'] == 'Si'].groupby(['Pclass', 'Survived']).size().unstack(fill_value=0)

# Calcular el porcentaje de supervivencia para menores en cada clase
minors_survived_by_class['Total'] = minors_survived_by_class[0] + minors_survived_by_class[1]
minors_survived_by_class['PercentageSurvived'] = (minors_survived_by_class[1] / minors_survived_by_class['Total']) * 100

# Mostrar el resultado
print("Porcentaje de menores que sobrevivieron en cada clase (sin bucle):")
display(minors_survived_by_class[['PercentageSurvived']])

Porcentaje de menores que sobrevivieron en cada clase (sin bucle):

Survived  PercentageSurvived
Pclass
1                  91.666667
2                  91.304348
3                  37.179487

### Método con bucle for

In [57]:
# Get unique classes
classes = df['Pclass'].unique()

for pclass in sorted(classes):
    # Filter for minors in the current class
    minors_in_class = df[(df['IsMinor'] == 'Si') & (df['Pclass'] == pclass)]

    # Count total minors and surviving minors in the class
    total_minors_in_class = len(minors_in_class)
    surviving_minors_in_class = len(minors_in_class[minors_in_class['Survived'] == 1])

    # Calculate percentage
    if total_minors_in_class > 0:
        percentage_survived = (surviving_minors_in_class / total_minors_in_class) * 100
        print(f"Clase {pclass}: {percentage_survived:.2f}%")
    else:
        print(f"Clase {pclass}: No hay menores en esta clase.")

Porcentaje de menores que sobrevivieron en cada clase (con bucle for):
Clase 1: 91.67%
Clase 2: 91.30%
Clase 3: 37.18%